<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/info-mgt.css" />
    <link rel="stylesheet" href="/css/mycss/notice.css" type="text/css"/>
    <style>
        .mains{
            width: 120px;
            height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }
    </style>
    <title>通知管理</title>
</head>

<body onload="Noticeload()">
<div class="title"><h2>客户管理</h2></div>
<div class="query">
    <form action="/sys/notice.html" method="post">
        <div class="tabe_bot">
            <div class="l_left"><label>姓名：</label>
                <input type="text" placeholder="请输入标题" id="noticeTit" name="userName" ></div>
            <div class="l_left"><label>电话：</label>
                <input type="text" placeholder="请输入发布人" id="noticePuer" name="phone" value=""></div>
            <div class="l_left"><label>状态：</label>
                <input type="text" id="demo" name="states" /></div>
            <input type="button" onclick="button()" value="查询" class="tabe_btn">
            <div class="clear"></div>
        </div>
    </form>
</div>
<div class="table-box">
    <table id="table" class="table_style table table-hover table-striped">
        <tbody>



        </tbody>
        <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle; " data-field="ID" tabindex="0"><div class="th-inner ">客户ID</div><div class="fht-cell"></div></th>
            <th style="text-align: center; vertical-align: middle; " data-field="ID" tabindex="0"><div class="th-inner ">姓名</div><div class="fht-cell"></div></th>
            <th style="text-align: center; vertical-align: middle; " data-field="TITLE" tabindex="0"><div class="th-inner ">性别</div><div class="fht-cell"></div></th>
            <th style="text-align: center; vertical-align: middle; " data-field="PUBLISHER" tabindex="0"><div class="th-inner ">联系电话</div><div class="fht-cell"></div></th>
            <th style="text-align: center; " data-field="PUBTIME" tabindex="0"><div class="th-inner ">状态</div><div class="fht-cell"></div></th>
            <th style="text-align: center; " data-field="PUBTIME" tabindex="0"><div class="th-inner ">来源</div><div class="fht-cell"></div></th>
            <th style="text-align: center; " data-field="PUBTIME" tabindex="0"><div class="th-inner ">客户类型</div><div class="fht-cell"></div></th>
            <th style="text-align: center; " data-field="PUBTIME" tabindex="0"><div class="th-inner ">信誉等级</div><div class="fht-cell"></div></th>
            <th style="text-align: center; " data-field="PUBTIME" tabindex="0"><div class="th-inner ">添加时间</div><div class="fht-cell"></div></th>
            <th style="text-align: center; " data-field="PUBTIME" tabindex="0"><div class="th-inner ">备注</div><div class="fht-cell"></div></th>
        </tr>
        </thead>
    </table>
    <span id="page"></span>
    <input type="hidden" value="1" id="pageIndex">
</div>
<div class="pagination ue-clear"></div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-table.js"></script>
<script src="/js/bootstrap-table-zh-CN.min.js"></script>
<script src="/js/date/js/laydate.js"></script>
<script src="/js/layer_v2.1/layer/layer.js"></script>
<script src="/js/myjs/userByDerictor.js"></script>


</html>
