<!DOCTYPE html>
<html lang="en">
<head>
    <title>err</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Billion Error Page Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/css/err/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="/css/err/font-awesome.css">
    <link href="//fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
<div class="w3-main">
    <div class="agile-info">
        <h3>糟糕！信息不知道去哪里了！！！！</h3>
        <h4>稍安勿躁</h4>
        <p th:text="${status }"></p>
        <p th:text="${timestamp }"></p>
        <p th:text="${message }"></p>
        <p th:text="${exception }"></p>
    </div>


</div>
<div class="footer-w3l">
    <p>&copy; 2019 CRM Error Page. All rights reserved | Design by <a href="http://w3layouts.com">硕果留存</a></p>
</div>

<script type="text/javascript" src="static/js/err/jquery-2.1.4.min.js"></script>
<script  src="static/js/err/index.js"></script>

</body>
</html>