<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.dialog.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/mycss/index.css" />
    <title>客户关系管理系统——首页</title>
</head>
<body>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear"><span>欢迎您,</span><span class="user-name" th:text="${session.session.empName}">Admin</span></div>
                <div class="login-msg ue-clear">
                    <a href="javascript:void(0)" class="msg-txt">消息</a>
                    <a href="javascript:void(0)" class="msg-num">10</a>
                </div>
            </div>
            <div class="toolbar ue-clear">
                <a href="home.html" class="home-btn" target="iframe">首页</a>
                <a  class="home-btn1"   onclick="updpwd()">修改密码</a>
                <!--<a href="javascript:void(0)" class="quit-btn exit home-btn">退出</a>-->
                <a href="#" class="quit-btn exit home-btn">退出</a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav" th:if="${session.grade}!=100">
                    <li class="office current"><div class="nav-header"><a href="home.html" target="iframe" class="ue-clear"><span>首页</span><i class="icon"></i></a></div></li>
                    <li class="land"><div class="nav-header"><a href="JavaScript:;" class="ue-clear" ><span>日常办公</span><i class="icon hasChild"></i></a></div>
                        <ul class="subnav">
                            <li><a href="/sys/chan.html" target="iframe">机会管理</a></li>
                            <li><a href="/sys/serve.html" target="iframe">服务管理</a></li>
                            <li><a href="/sys/order.html" target="iframe">订单管理</a></li>
                            <li><a href="/sys/deptMonthly.html" target="iframe">部门月报</a></li>
                            <li><a href="/sys/commonthly.html" target="iframe">公司月报</a></li>
                        </ul>
                    </li>
                    <li class="email"><div class="nav-header"><a href="JavaScript:;"class="ue-clear"  target="iframe"><span>消息推送</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                            <li><a href="/sys/plan_info.html" target="iframe">计划审核</a></li>
                            <li><a href="/sys/chan_info.html" target="iframe">客户资源管理</a></li>
                            <li><a href="/sys/serve_info.html" target="iframe">服务分配</a></li>
                        </ul>
                    </li>
                    <li class="list_m"><div class="nav-header"><a href="JavaScript:;" class="ue-clear" target="iframe"><span>通讯录管理</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                            <li><a href="/sys/getUsers.html" target="iframe">我的客户</a></li>
                            <li><a href="/sys/Colleague.html" target="iframe">我的同事</a></li>
                            <li><a href="/sys/leaveUser.html" target="iframe">客户池</a></li>
                        </ul>
                    </li>
                    <li class="news_m" ><div class="nav-header"><a href="/sys/notices.html" class="ue-clear"  target="iframe">
                        <span>通知通告</span><i class="icon"></i></a></div></li>




                    <li class="dossier">
                        <div class="nav-header"><a href="JavaScript:;" class="ue-clear"><span>个人中心</span><i
                                class="icon hasChild"></i></a></div>
                        <ul class="subnav">
                            <li><a href="/sys/dossier_my.html" target="iframe">个人档案</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav"  th:if="${session.grade}==100">
                    <li class="part"><div class="nav-header"><a href="JavaScript:;" class="ue-clear" ><span>系统管理</span><i class="icon hasChild"></i></a></div>
                        <ul class="subnav">
                            <li><a href="/sys/userManage.html" target="iframe">用户管理</a></li>
                            <li><a href="/sys/roleManage.html" target="iframe">角色管理</a></li>
                            <li><a href="/sys/systemManage.html" target="iframe">系统管理</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="content">
                    <iframe src="/sys/home.html" id="iframe" width="100%" height="100%" frameborder="0" name="iframe" style="min-width: 1100px"></iframe>
            </div>
        </div>
    </div>
    <div id="ft" class="foot_div">

        <span>硕果留存小组&nbsp;&nbsp;&nbsp;</span>
        <em>CRM&nbsp;System</em>

        <div class="ft-right">
            <span></span>
            <em th:text="${session.rolesName}" id="em"></em>
        </div>
    </div>
</div>
<div class="exitDialog">
    <div class="dialog-content">
        <div class="ui-dialog-icon"></div>
        <div class="ui-dialog-text">
            <p class="dialog-content">你确定要退出系统？</p>
            <p class="tips">如果是请点击“确定”，否则点“取消”</p>

            <div class="buttons">
                <input type="button" class="button long2 ok" value="确定" />
                <input type="button" class="button long2 normal" value="取消" />
            </div>
        </div>

    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/core.js"></script>
<script type="text/javascript" src="/js/jquery.dialog.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script src="/js/layer_v2.1/layer/layer.js"></script>
<script type="text/javascript" src="/js/myjs/index.js"></script>
<script>

</script>
</html>