<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>修改密码</title>
    <link href="/css/mycss/upPwd.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="upPwd">
    <form method="post" name="myform" id="myform" style="vertical-align: middle;text-align: center;">
        <input name="action" value="upPwd" type="hidden">
        <input name="username" placeholder="用户名" required="" type="text" id="user" th:value="${session.session.empCode}"
               style="width: 300px;"
               readonly="readonly">
        <p style="text-align: left;margin-left: 55px;color: red" id="spuser"></p>
        <hr class="hr15">
        <input name="password" placeholder="旧密码" required="" type="password"
               style="width: 300px;" id="pass">
        <p style="text-align: left;margin-left: 55px;color: red" id="sppass"></p>
        <input type="hidden" name="oldpassword" id="oldPwd" th:value="${session.session.getPassword()}">
        <hr class="hr15">
        <input name="newpassword" placeholder="新密码" required="" type="password"
               style="width: 300px;"
               id="newpass"><p style="text-align: left;margin-left: 55px;color: red" id="spnewpass"></p>
        <hr class="hr15">
        <input name="repassword" placeholder="确定密码" required=""
               style="width: 300px;"
               type="password" id="repass"><p style="text-align: left;margin-left: 55px;color: red" id="spRepass"></p>
        <hr class="hr15">
        <input value="确定" style="width:50%; height: 45px;" type="button" onclick="upPwd_btn()">
        <hr class="hr20">

    </form>
    <a onClick="alert('请联系管理员')" >&nbsp;&nbsp;忘记密码</a>
</div>
    <script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/myjs/upPwd.js"></script>
</body>
</html>