<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/info-mgt.css" />
    <link rel="stylesheet" href="/css/mycss/role.css" />
    <title>角色管理</title>

</head>

<body onload="change(),Roleload()">
<div class="title"><h2>角色管理</h2></div>
<div class="l_left" style="width: 100%;margin-right: 1%">
    <div class="query">
        <div class="tabe_bot">
            <div class="l_left" style="margin-left: 20px"><label>角色名称：</label><input type="text" placeholder="请输入角色名称" id="name"></div>
            <button class="tabe_btn " onclick="getRoleTableData()">查询</button>
            <div class="clear"></div>
        </div>
    </div>
    <div class="table-operate ue-clear">
        <a href="javascript:;" class="add" onclick="openlayer()" >添加</a>


    </div>
   <div class="table-box">
        <table id="table" class="table_style"></table>
    </div>
    <div class="pagination ue-clear"></div>
</div>

</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/demo/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/js/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="/js/jquery.ztree.exedit-3.5.js"></script>
<script src="/js/role.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-table.js"></script>
<script src="/js/bootstrap-table-zh-CN.min.js"></script>
<script src="/js/layer_v2.1/layer/layer.js"></script>
<script src="/js/myjs/roleManage.js"></script>
</html>
