

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>创建用户</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/mycss/add_emp.css" rel="stylesheet" type="text/css" />
    <style>
        .notnull{
            color: red;
            font-weight: bolder;
            font-size: 10px;
        }
    </style>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script>
        function change() {
            var height01 = $(window).height();
            $(".top").css('height', height01 - 35+"px");
        }

    </script>
</head>

<body style="border-radius: 8px;width: 1075px" >
<div class="title"><h2>创建用户</h2></div>
<div style="font-size: 20px;color: red;font-weight: bolder" th:text="${msg}"></div>
<form th:action="@{/sys/addEmp.html}" method="post" enctype="multipart/form-data" id="myForm">
    <div class="top">
        <div>
            <div class="top_out">
                <table class="table" >
                    <tbody>
                    <tr>
                        <td>姓名：<span style="color:red;">*</span>
                        </td>
                        <td  style="text-align: left">
                            <input type="text" name="empName" id="empName">
                            <div class="notnull" id="nameDiv"></div>
                        </td>
                        <td>性别：<span style="color:red;">*</span></td>
                        <td colspan = "3" style="text-align: left">  <select name="sex" id="sex">
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                            <div class="notnull" id="sexDiv"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>编号：<span style="color:red;">*</span></td>
                        <td  style="text-align: left"><input type="text" name="empCode" id="empCode" th:value="${emp.empCode}"  readonly="readonly">
                            <div class="notnull" id="codeDiv"></div>
                        </td>
                        <td>密码：<span style="color:red;">*</span></td>
                        <td colspan = "3" style="text-align: left">
                            <input type="text" class="long_text" id="password" name="password" th:value="${emp.password}" readonly="readonly">
                            <div class="notnull" id="pwdDiv"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>所属部门：<span style="color:red;">*</span></td>
                        <td  style="text-align: left">
                            <select name="deptId" id="deptId">

                            </select>
                            <div class="notnull" id="deptDiv"></div>
                        </td>
                        <td>角色：<span style="color:red;">*</span></td>
                        <td colspan = "3" style="text-align: left">
                            <select name="rolesId" id="rolesId">

                            </select>
                            <div class="notnull" id="roleDiv"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>是否修改：<span style="color:red;">*</span></td>
                        <td  style="text-align: left">
                            <select name="alert" id="alert" disabled="disabled" >
                                <option value="1" >是</option>
                                <option value="0" selected="selected">否</option>

                            </select>
                            <div class="notnull" id="alertDiv"></div>
                        </td>
                        <td>在职状态：<span style="color:red;">*</span></td>
                        <td colspan = "3" style="text-align: left">
                            <select name="states" id="states" class="long_text">
                                <option value="试用期">试用期</option>
                                <option value="在职">在职</option>
                                <option value="离职">离职</option>
                            </select>
                            <div class="notnull" id="statesDiv"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>生日：</td>
                        <td  style="text-align: left"><input type="date" name="birthday" id="birthday"></td>
                        <td>邮箱：<span style="color:red;">*</span></td>
                        <td colspan = "3" style="text-align: left">
                            <input type="email" name="email" id="email">
                            <div class="notnull" id="emailDiv"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>薪资：</td>
                        <td  style="text-align: left"><input type="text" name="salary" id="salary"></td>
                        <td>绩效分：</td>
                        <td colspan = "3" style="text-align: left"><input type="text" name="performance" id="performance" class="long_text"></td>
                    </tr>
                    <tr>
                        <td >头像：</td>
                        <td colspan = "8" style="text-align: left">
                            <input type="file" name="myPic" id="head">
                        </td>
                    </tr>
                    <tr>
                        <td >头像展示：</td>
                        <td colspan = "8" style="text-align: left"  >
                            <img src="../../images/image.jpg" id="headimage" alt="我的头像" title="我的头像" width="100px">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bot_btn">
            <button class="btn" >添加</button>
            <button class="btn btn1" onclick="togo()"><a  target="right">返回</a></button>
        </div>
    </div>
</form>

<!--模态框2-->
<div class="modal fade" id="alertModel" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 400px;">
            <div class="modal-header" style="height: 50px;">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" style="text-align: center;vertical-align: middle;">
                <p style="color: blue;font-family: 宋体;font-size: 20px;font-weight: bolder" id="info-modal">

                </p>
            </div>
            <div class="modal-footer" style="height: 50px;text-align: center;vertical-align: middle;" >
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script src="/js/utf8-php/ueditor.config.js"></script>
<script src="/js/utf8-php/ueditor.all.min.js"></script>
<script src="/js/jquery-validation-1.14.0/dist/jquery.validate.min.js" charset="utf-8"></script>
<script src="/js/jquery-validation-1.14.0/dist/localization/messages_zh.js" charset="utf-8"></script>
<script src="/js/myjs/add_emp.js"></script>